.blog-article-overview {
  border-top: 1px solid var(--foreground-color);
  padding: calc(var(--lineHeight) * 1) 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: min-content 1fr;
  grid-column-gap: 10px;
  align-items: end;
  grid-row-gap: var(--rowGap);
  .slider {
    grid-area: 1 / 1 / 2 / 7;
    align-self: start;
    img,
    video {
      display: block;
      width: 100%;
      border-radius: 8px;
    }
  }
  .col-2 {
    grid-area: 1 / 7 / 2 / 9;
    align-self: start;
    .sub-heading {
      font-weight: 400;
    }
    p,
    .text-counter {
      font-size: 1.2rem;
      font-weight: 400;
      line-height: var(--lineHeight);
      margin: 0;
      border-bottom: 1px solid var(--foreground-color);
    }
    .text-counter {
      border-top: 1px solid var(--foreground-color);
    }
    
    img,
    video {
      display: block;
      width: 100%;
      border-radius: 8px;
    }
  }

}


.blog-article-content {
  padding: calc(var(--lineHeight) * 1) 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: min-content 1fr;
  grid-column-gap: 10px;
  align-items: end;
  grid-row-gap: var(--rowGap);
  .col-1 {
    grid-area: 1 / 1 / 2 / 4;
    align-self: start;
    .sub-heading {
      border-bottom: 1px solid var(--foreground-color);
    }
    .heading {
      margin-top: calc(var(--lineHeight) * 0.5);
    }
  }
  .col-2 {
    grid-area: 1 / 4 / 2 / 5;
    align-self: start;
    .heading {
      margin-top: calc(var(--lineHeight) * 0.5);
    }
    .sub-heading {
      border-bottom: 1px solid var(--foreground-color);
    }
    img,
    video {
      display: block;
      width: 100%;
      border-radius: 8px;
    }
  }
  .col-3 {
    grid-area: 1 / 5 / 2 / 9;
    .sub-heading {
      border-bottom: 1px solid var(--foreground-color);
    }
    img,
    video {
      display: block;
      width: 100%;
      border-radius: 8px;
    }
  }
}

.blog-article-tags {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  a{
    color: var(--background-color);
    background: var(--foreground-color);
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 10px;
    margin: 0.2rem 0;
    line-height: 22px;
    border-radius: 12px;
    font-weight: 700;
    max-width: fit-content;
  }
}


  .blog-prevnext{
    padding-bottom: 2rem;
  }


@media (min-width: 320px) and (max-width: 1150px) {
  .blog-article-overview {
    grid-template-columns: repeat(2, 1fr);
    .slider {
      grid-area: 1 / 1 / 2 / 3;
    }
    .col-2 {
      grid-area: 2 / 1 / 3 / 3;
      align-self: start;
    }
  }
  .blog-article-content {
    grid-template-columns: repeat(2, 1fr);
    .col-1 {
      grid-area: 1 / 1 / 2 / 3;
    }
    .col-2 {
      grid-area: 2 / 1 / 2 / 3;
    }
    .col-3 {
      grid-area: 3 / 1 / 3 / 3;
    }
  }
}