
#information-wrap{
  display: grid;
  grid-template-columns: 10fr 3fr 3fr 2fr 0.5fr;
  grid-column-gap: var(--columnGap);
  grid-row-gap: var(--rowGap);
  overflow: hidden;
  height: calc(100vh - 3.75em + 1px);
  }
  #information-wrap p{
  margin-bottom: 1em;
  line-height: 1.2;
  }
  #information-wrap strong{
  padding: .5em 0 0;
  }
  #information-wrap p:first-child,
  #information-wrap p:first-child strong,
  #license .license-title{
  border:none;
  margin-top: 0;
  }
  #information-wrap #information-content{
  height: auto;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  scrollbar-width: none;
  }
  
  
  
  /* GENERAL
  ================================================== */
  
  strong{
  display: block;
  width: 100%;
  padding: .5em 0 1em;
  border-top: 1px solid  var(--foreground-color);
  color:  var(--foreground-color);
  margin-top: 2em;
  line-height: 1;
  }
  
  
  
  strong a{
  color:  var(--foreground-color);
  }
  svg{
  overflow: visible;
  }
  
  
  #collection-information{
    display: grid;
      margin-top: calc(-2em - 1px);
      line-height: 1.2;
  }
  #collection-information .collection-wrap{
    display: grid;
      grid-template-columns: 4fr 6fr;
  }
  
  /*Collection Info*/
  #collection-information .information{	
      width: 100%;
  }
  #collection-information .info-styles{
      padding-right: 1em;
  }
  #collection-information .info-opentype p{
    float: left;
      width: 100%;
  }
  #collection-information .info-opentype p:first-child,
  #collection-information .info-opentype p:nth-child(2){
    width: 50%;
  }
  #collection-information .info-opentype strong,
  #collection-information .info-opentype p{
       padding-right: 1em;
  }
  .desktop #collection-information .info-opentype a:hover{
    text-decoration: underline;
  }
  #collection-information .description{
    display: grid;
      grid-template-rows: min-content 1fr min-content;
      padding-right: 1em;
  }
  #collection-information .description p{
    text-indent: 2em;
  }
  #collection-information .description p:first-of-type{
    text-indent: 0;
  }
  #collection-information #pdf-link{
      padding-top: 3em;
  }
  #collection-information #pdf-link a{
    display: grid;
      grid-template-columns: 1.5em 1fr;
      grid-gap: .5em;
    align-items: flex-end;
  }
  #collection-information #pdf-link svg{
    width: 100%;
      padding-bottom: 1px;
  }
  .desktop #collection-information #pdf-link a:hover svg{
    animation: blinker .5s linear infinite;
  }
  #collection-information .language div{
    white-space: nowrap;
      column-count: 4;
      column-gap: 0em;
  }
  
  
  
  #license {
      height: auto;
      display: grid;
      margin-top: calc(-0.2em - 1px);
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
      scroll-behavior: smooth;
      scrollbar-width: none;
      padding-bottom: 1em;
    grid-area: 1 / 2 / 1 / 6;
    
  }
  
  #license strong{
  display: grid;
  grid-template-columns: 1fr 1fr;
  }
  #license .information-section-wrap:first-of-type strong{
  border: none;
  margin-top: calc(1em + 1px);
  }
  #license .license-title{
  float: left;
  padding: .5em 0;
  line-height: 1;
  color: var(--foreground-color);
  }
  #information-wrap #license p:first-of-type{
  margin-top: .4em;
  }
  #information-wrap #license p{
  width: 50%;
  margin-left: 50%;
  }
  #information-wrap #license p.information-section-wrap{
  width: 100%;
  margin: 0 0 calc(-1em - 1px) 0;
  }
  
  #information-wrap #license p.information-section{
  margin: 0 0 1em 0 !important;
  }
  
  
  