.content:hover {
  z-index: 160;
  position: relative;
}

canvas,
#img {
  position: fixed;
  left: -200vw;
  top: -200vh;
}

img {
  width: 100%;
  height: auto;
}

.bg {
  position: fixed;
  z-index: -1;
  top: 0px;
  left: 0px;
  min-height: 100%;
  width: 100vw;
}

.footer #save {
  border-color: transparent !important;
  opacity: 0;
  transition: opacity 2s linear;
  letter-spacing: -0.4px;
  background-color: transparent;
}

.footer #save:hover {
  color: var(--foreground-color);
  background-color: transparent;
}

#coords,
#avg,
.coords {
  color: var(--primary);
  position: fixed;
  font-size: 1.3rem;
  line-height: 1.3rem;
  z-index: 0;
  left: -100vw;
  pointer-events: none;
}

#avg {
  color: grey;
}

.point {
  background-color: var(--primary);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: fixed;
}

#svg {
  position: fixed;
  pointer-events: none;
  top: 0px;
  left: 0px;
  filter: blur(35px);
  /* z-index: 150; */
}

line {
  stroke: var(--primary);
}

a {
  z-index: 100;
  position: relative;
}

a {
  transition: border-radius 300ms, padding 300ms;
}


.homeRow-1,
.homeRow-2,
.homeRow-3,
.homeRow-4 {
  display: grid;
  margin-top: var(--blockSpacingBottom);
  grid-column-gap: var(--columnGap);
  grid-row-gap: var(--rowGap);
  grid-template-columns: 10fr 3fr 3fr 2fr 0.5fr;
  align-items: start;
  cursor: pointer;
}

.name {
  grid-area: 1 / 2 / 1 / 3;
}

.create {
  grid-area: 1 / 3 / 1 / 4;
}

.designer,
.developer {
  padding-bottom: calc(var(--blockSpacingBottom) * 1);
  padding-top: calc(var(--blockSpacingBottom) * 1);
}

.intro {
  grid-area: 1 / 3 / 1 / 6;
}

.designer {
  grid-area: 1 / 1 / 1 / 3;
}

.developer {
  grid-area: 2 / 1 / 2 / 4;
}

.contact {
  grid-area: 2 / 2 / 2 / 3; 
}

.passion {
  grid-area: 1 / 1 / 1 / 1;
}

.save {
  grid-area: 1 / 1 / 1 / 2;
}

.instructionDrag {
  grid-area: 1 / 2 / 1 / 3;
}

.instructionClick {
  grid-area: 1 / 3 / 1 / 5;
}


.post-legend p {
  margin-bottom: 0.5em;
}

#draggable {
  cursor: move;
}


.tag {
  display: inline-block;
  width: auto;
  padding: 5px 12px;
  border: 1px solid var(--foreground-color);
  border-radius: 20px;
  color: var(--foreground-color);
}



.editable-content:hover {
  border-width: 1px;
  text-decoration: none;
  border-style: solid;
  border-color: var(--foreground-color);
  /* border-radius: 99em; */
  box-shadow: none;
  font-style: normal;
}

.flex {
  display: flex;
}



.dragIndicator,
.dragIndicator:hover {
    border-width: 1px;
    text-decoration: none
}

.dragIndicator {
    border-style: solid;
    border-color: transparent;
    border-radius: 10px;
}


.dragIndicator:hover {
    border-style: solid;
    border-color: #8B59E7;
    border-radius: 10px;
}
