
/* CSS-GRID-DESKTOP */
/*---------------------------------------------------------------------------------------------------*/
grid-r {
  display: grid;
  --grid-templateColumns: repeat(4, 1fr);
  grid-template-columns: var(--grid-templateColumns);
  --grid-columnStart: 1;
  /* column start */
  --grid-columnEnd: -1;
  /* column end */
}
/* cell-r -- cell or column */
grid-r>cell-r {
  display: block;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none
}
header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

grid-r[columns="8"] {
  --grid-templateColumns: repeat(8, 1fr)
}
/* span=start... */
grid-r>cell-r[span^="1"] {
  --grid-columnStart: 1
}
grid-r>cell-r[span^="2"] {
 --grid-columnStart: 2
}
grid-r>cell-r[span^="3"] {
 --grid-columnStart: 3
}
grid-r>cell-r[span^="4"] {
 --grid-columnStart: 4
}
grid-r>cell-r[span^="5"] {
 --grid-columnStart: 5
}
grid-r>cell-r[span^="6"] {
 --grid-columnStart: 6
}
grid-r>cell-r[span^="7"] {
 --grid-columnStart: 7
}
grid-r>cell-r[span^="8"] {
 --grid-columnStart: 8
}
grid-r>cell-r[span^="9"] {
 --grid-columnStart: 9
}
grid-r>cell-r[span^="10"] {
 --grid-columnStart: 10
}
grid-r>cell-r[span^="11"] {
 --grid-columnStart: 11
}
grid-r>cell-r[span^="12"] {
 --grid-columnStart: 12
}
grid-r>cell-r[span^="13"] {
 --grid-columnStart: 13
}
grid-r>cell-r[span^="14"] {
 --grid-columnStart: 14
}
grid-r>cell-r[span^="15"] {
 --grid-columnStart: 15
}
grid-r>cell-r[span^="16"] {
 --grid-columnStart: 16
}
grid-r>cell-r[span^="17"] {
 --grid-columnStart: 17
}
grid-r>cell-r[span^="18"] {
 --grid-columnStart: 18
}
grid-r>cell-r[span^="19"] {
 --grid-columnStart: 19
}
grid-r>cell-r[span^="20"] {
 --grid-columnStart: 20
}
grid-r>cell-r[span^="21"] {
 --grid-columnStart: 21
}
grid-r>cell-r[span^="22"] {
 --grid-columnStart: 22
}
grid-r>cell-r[span^="23"] {
 --grid-columnStart: 23
}
grid-r>cell-r[span^="24"] {
 --grid-columnStart: 24
}
grid-r>cell-r[span^="25"] {
 --grid-columnStart: 25
}
grid-r>cell-r[span^="26"] {
 --grid-columnStart: 26
}
grid-r>cell-r[span^="27"] {
 --grid-columnStart: 27
}
grid-r>cell-r[span^="28"] {
 --grid-columnStart: 28
}
grid-r>cell-r[span^="29"] {
 --grid-columnStart: 29
}
grid-r>cell-r[span^="30"] {
 --grid-columnStart: 30
}
/* span=...+width, span=...-end */
grid-r>cell-r[span$="+1"],
grid-r>cell-r[span="1"] {
 --grid-columnEnd: 1
}
grid-r>cell-r[span$="+2"],
grid-r>cell-r[span$="-1"],
grid-r>cell-r[span="2"] {
 --grid-columnEnd: 2
}
grid-r>cell-r[span$="+3"],
grid-r>cell-r[span$="-2"],
grid-r>cell-r[span="3"] {
 --grid-columnEnd: 3
}
grid-r>cell-r[span$="+4"],
grid-r>cell-r[span$="-3"],
grid-r>cell-r[span="4"] {
 --grid-columnEnd: 4
}
grid-r>cell-r[span$="+5"],
grid-r>cell-r[span$="-4"],
grid-r>cell-r[span="5"] {
 --grid-columnEnd: 5
}
grid-r>cell-r[span$="+6"],
grid-r>cell-r[span$="-5"],
grid-r>cell-r[span="6"] {
 --grid-columnEnd: 6
}
grid-r>cell-r[span$="+7"],
grid-r>cell-r[span$="-6"],
grid-r>cell-r[span="7"] {
 --grid-columnEnd: 7
}
grid-r>cell-r[span$="+8"],
grid-r>cell-r[span$="-7"],
grid-r>cell-r[span="8"] {
 --grid-columnEnd: 8
}
grid-r>cell-r[span$="+9"],
grid-r>cell-r[span$="-8"],
grid-r>cell-r[span="9"] {
 --grid-columnEnd: 9
}
grid-r>cell-r[span$="+10"],
grid-r>cell-r[span$="-9"],
grid-r>cell-r[span="10"] {
 --grid-columnEnd: 10
}
grid-r>cell-r[span$="+11"],
grid-r>cell-r[span$="-10"],
grid-r>cell-r[span="11"] {
 --grid-columnEnd: 11
}
grid-r>cell-r[span$="+12"],
grid-r>cell-r[span$="-11"],
grid-r>cell-r[span="12"] {
 --grid-columnEnd: 12
}
grid-r>cell-r[span$="+13"],
grid-r>cell-r[span$="-12"],
grid-r>cell-r[span="13"] {
 --grid-columnEnd: 13
}
grid-r>cell-r[span$="+14"],
grid-r>cell-r[span$="-13"],
grid-r>cell-r[span="14"] {
 --grid-columnEnd: 14
}
grid-r>cell-r[span$="+15"],
grid-r>cell-r[span$="-14"],
grid-r>cell-r[span="15"] {
 --grid-columnEnd: 15
}
grid-r>cell-r[span$="+16"],
grid-r>cell-r[span$="-15"],
grid-r>cell-r[span="16"] {
 --grid-columnEnd: 16
}
grid-r>cell-r[span$="+17"],
grid-r>cell-r[span$="-16"],
grid-r>cell-r[span="17"] {
 --grid-columnEnd: 17
}
grid-r>cell-r[span$="+18"],
grid-r>cell-r[span$="-17"],
grid-r>cell-r[span="18"] {
 --grid-columnEnd: 18
}
grid-r>cell-r[span$="+19"],
grid-r>cell-r[span$="-18"],
grid-r>cell-r[span="19"] {
 --grid-columnEnd: 19
}
grid-r>cell-r[span$="+20"],
grid-r>cell-r[span$="-19"],
grid-r>cell-r[span="20"] {
 --grid-columnEnd: 20
}
grid-r>cell-r[span$="+21"],
grid-r>cell-r[span$="-20"],
grid-r>cell-r[span="21"] {
 --grid-columnEnd: 21
}
grid-r>cell-r[span$="+22"],
grid-r>cell-r[span$="-21"],
grid-r>cell-r[span="22"] {
 --grid-columnEnd: 22
}
grid-r>cell-r[span$="+23"],
grid-r>cell-r[span$="-22"],
grid-r>cell-r[span="23"] {
 --grid-columnEnd: 23
}
grid-r>cell-r[span$="+24"],
grid-r>cell-r[span$="-23"],
grid-r>cell-r[span="24"] {
 --grid-columnEnd: 24
}
grid-r>cell-r[span$="+25"],
grid-r>cell-r[span$="-24"],
grid-r>cell-r[span="25"] {
 --grid-columnEnd: 25
}
grid-r>cell-r[span$="+26"],
grid-r>cell-r[span$="-25"],
grid-r>cell-r[span="26"] {
 --grid-columnEnd: 26
}
grid-r>cell-r[span$="+27"],
grid-r>cell-r[span$="-26"],
grid-r>cell-r[span="27"] {
 --grid-columnEnd: 27
}
grid-r>cell-r[span$="+28"],
grid-r>cell-r[span$="-27"],
grid-r>cell-r[span="28"] {
 --grid-columnEnd: 28
}
grid-r>cell-r[span$="+29"],
grid-r>cell-r[span$="-28"],
grid-r>cell-r[span="29"] {
 --grid-columnEnd: 29
}
grid-r>cell-r[span$="+30"],
grid-r>cell-r[span$="-29"],
grid-r>cell-r[span="30"] {
 --grid-columnEnd: 30
}
grid-r>cell-r[span$="-30"] {
 --grid-columnEnd: 31
}
/* connect vars */
grid-r>cell-r[span] {
 grid-column-end: span var(--grid-columnEnd)
}
grid-r>cell-r[span*="+"],
grid-r>cell-r[span*="-"],
grid-r>cell-r[span*=".."] {
 grid-column-start: var(--grid-columnStart)
}
grid-r>cell-r[span*="-"],
grid-r>cell-r[span*=".."] {
 grid-column-end: var(--grid-columnEnd)
}
grid-r>cell-r[span="row"] {
 grid-column: 1 / -1
}
/* for window width <= 600 */
@media only screen and (max-width: 600px) {
 grid-r[columns-s="1"] {
   --grid-templateColumns: repeat(1, 1fr)
 }
 grid-r[columns-s="2"] {
   --grid-templateColumns: repeat(2, 1fr)
 }
 grid-r[columns-s="3"] {
   --grid-templateColumns: repeat(3, 1fr)
 }
 grid-r[columns-s="4"] {
   --grid-templateColumns: repeat(4, 1fr)
 }
 grid-r[columns-s="5"] {
   --grid-templateColumns: repeat(5, 1fr)
 }
 grid-r[columns-s="6"] {
   --grid-templateColumns: repeat(6, 1fr)
 }
 grid-r[columns-s="7"] {
   --grid-templateColumns: repeat(7, 1fr)
 }
 grid-r[columns-s="8"] {
   --grid-templateColumns: repeat(8, 1fr)
 }
 grid-r[columns-s="9"] {
   --grid-templateColumns: repeat(9, 1fr)
 }
 grid-r[columns-s="10"] {
   --grid-templateColumns: repeat(10, 1fr)
 }
 grid-r[columns-s="11"] {
   --grid-templateColumns: repeat(11, 1fr)
 }
 grid-r[columns-s="12"] {
   --grid-templateColumns: repeat(12, 1fr)
 }
 grid-r[columns-s="13"] {
   --grid-templateColumns: repeat(13, 1fr)
 }
 grid-r[columns-s="14"] {
   --grid-templateColumns: repeat(14, 1fr)
 }
 grid-r[columns-s="15"] {
   --grid-templateColumns: repeat(15, 1fr)
 }
 grid-r[columns-s="16"] {
   --grid-templateColumns: repeat(16, 1fr)
 }
 grid-r[columns-s="17"] {
   --grid-templateColumns: repeat(17, 1fr)
 }
 grid-r[columns-s="18"] {
   --grid-templateColumns: repeat(18, 1fr)
 }
 grid-r[columns-s="19"] {
   --grid-templateColumns: repeat(19, 1fr)
 }
 grid-r[columns-s="20"] {
   --grid-templateColumns: repeat(20, 1fr)
 }
 grid-r[columns-s="21"] {
   --grid-templateColumns: repeat(21, 1fr)
 }
 grid-r[columns-s="22"] {
   --grid-templateColumns: repeat(22, 1fr)
 }
 grid-r[columns-s="23"] {
   --grid-templateColumns: repeat(23, 1fr)
 }
 grid-r[columns-s="24"] {
   --grid-templateColumns: repeat(24, 1fr)
 }
 grid-r[columns-s="25"] {
   --grid-templateColumns: repeat(25, 1fr)
 }
 grid-r[columns-s="26"] {
   --grid-templateColumns: repeat(26, 1fr)
 }
 grid-r[columns-s="27"] {
   --grid-templateColumns: repeat(27, 1fr)
 }
 grid-r[columns-s="28"] {
   --grid-templateColumns: repeat(28, 1fr)
 }
 grid-r[columns-s="29"] {
   --grid-templateColumns: repeat(29, 1fr)
 }
 grid-r[columns-s="30"] {
   --grid-templateColumns: repeat(30, 1fr)
 }
 /* span-s=start... */
 grid-r>cell-r[span-s^="1"] {
   --grid-columnStart: 1
 }
 grid-r>cell-r[span-s^="2"] {
   --grid-columnStart: 2
 }
 grid-r>cell-r[span-s^="3"] {
   --grid-columnStart: 3
 }
 grid-r>cell-r[span-s^="4"] {
   --grid-columnStart: 4
 }
 grid-r>cell-r[span-s^="5"] {
   --grid-columnStart: 5
 }
 grid-r>cell-r[span-s^="6"] {
   --grid-columnStart: 6
 }
 grid-r>cell-r[span-s^="7"] {
   --grid-columnStart: 7
 }
 grid-r>cell-r[span-s^="8"] {
   --grid-columnStart: 8
 }
 grid-r>cell-r[span-s^="9"] {
   --grid-columnStart: 9
 }
 grid-r>cell-r[span-s^="10"] {
   --grid-columnStart: 10
 }
 grid-r>cell-r[span-s^="11"] {
   --grid-columnStart: 11
 }
 grid-r>cell-r[span-s^="12"] {
   --grid-columnStart: 12
 }
 grid-r>cell-r[span-s^="13"] {
   --grid-columnStart: 13
 }
 grid-r>cell-r[span-s^="14"] {
   --grid-columnStart: 14
 }
 grid-r>cell-r[span-s^="15"] {
   --grid-columnStart: 15
 }
 grid-r>cell-r[span-s^="16"] {
   --grid-columnStart: 16
 }
 grid-r>cell-r[span-s^="17"] {
   --grid-columnStart: 17
 }
 grid-r>cell-r[span-s^="18"] {
   --grid-columnStart: 18
 }
 grid-r>cell-r[span-s^="19"] {
   --grid-columnStart: 19
 }
 grid-r>cell-r[span-s^="20"] {
   --grid-columnStart: 20
 }
 grid-r>cell-r[span-s^="21"] {
   --grid-columnStart: 21
 }
 grid-r>cell-r[span-s^="22"] {
   --grid-columnStart: 22
 }
 grid-r>cell-r[span-s^="23"] {
   --grid-columnStart: 23
 }
 grid-r>cell-r[span-s^="24"] {
   --grid-columnStart: 24
 }
 grid-r>cell-r[span-s^="25"] {
   --grid-columnStart: 25
 }
 grid-r>cell-r[span-s^="26"] {
   --grid-columnStart: 26
 }
 grid-r>cell-r[span-s^="27"] {
   --grid-columnStart: 27
 }
 grid-r>cell-r[span-s^="28"] {
   --grid-columnStart: 28
 }
 grid-r>cell-r[span-s^="29"] {
   --grid-columnStart: 29
 }
 grid-r>cell-r[span-s^="30"] {
   --grid-columnStart: 30
 }
 /* span-s=...+width, span-s=...-end */
 grid-r>cell-r[span-s$="+1"],
 grid-r>cell-r[span-s="1"] {
   --grid-columnEnd: 1
 }
 grid-r>cell-r[span-s$="+2"],
 grid-r>cell-r[span-s$="-1"],
 grid-r>cell-r[span-s="2"] {
   --grid-columnEnd: 2
 }
 grid-r>cell-r[span-s$="+3"],
 grid-r>cell-r[span-s$="-2"],
 grid-r>cell-r[span-s="3"] {
   --grid-columnEnd: 3
 }
 grid-r>cell-r[span-s$="+4"],
 grid-r>cell-r[span-s$="-3"],
 grid-r>cell-r[span-s="4"] {
   --grid-columnEnd: 4
 }
 grid-r>cell-r[span-s$="+5"],
 grid-r>cell-r[span-s$="-4"],
 grid-r>cell-r[span-s="5"] {
   --grid-columnEnd: 5
 }
 grid-r>cell-r[span-s$="+6"],
 grid-r>cell-r[span-s$="-5"],
 grid-r>cell-r[span-s="6"] {
   --grid-columnEnd: 6
 }
 grid-r>cell-r[span-s$="+7"],
 grid-r>cell-r[span-s$="-6"],
 grid-r>cell-r[span-s="7"] {
   --grid-columnEnd: 7
 }
 grid-r>cell-r[span-s$="+8"],
 grid-r>cell-r[span-s$="-7"],
 grid-r>cell-r[span-s="8"] {
   --grid-columnEnd: 8
 }
 grid-r>cell-r[span-s$="+9"],
 grid-r>cell-r[span-s$="-8"],
 grid-r>cell-r[span-s="9"] {
   --grid-columnEnd: 9
 }
 grid-r>cell-r[span-s$="+10"],
 grid-r>cell-r[span-s$="-9"],
 grid-r>cell-r[span-s="10"] {
   --grid-columnEnd: 10
 }
 grid-r>cell-r[span-s$="+11"],
 grid-r>cell-r[span-s$="-10"],
 grid-r>cell-r[span-s="11"] {
   --grid-columnEnd: 11
 }
 grid-r>cell-r[span-s$="+12"],
 grid-r>cell-r[span-s$="-11"],
 grid-r>cell-r[span-s="12"] {
   --grid-columnEnd: 12
 }
 grid-r>cell-r[span-s$="+13"],
 grid-r>cell-r[span-s$="-12"],
 grid-r>cell-r[span-s="13"] {
   --grid-columnEnd: 13
 }
 grid-r>cell-r[span-s$="+14"],
 grid-r>cell-r[span-s$="-13"],
 grid-r>cell-r[span-s="14"] {
   --grid-columnEnd: 14
 }
 grid-r>cell-r[span-s$="+15"],
 grid-r>cell-r[span-s$="-14"],
 grid-r>cell-r[span-s="15"] {
   --grid-columnEnd: 15
 }
 grid-r>cell-r[span-s$="+16"],
 grid-r>cell-r[span-s$="-15"],
 grid-r>cell-r[span-s="16"] {
   --grid-columnEnd: 16
 }
 grid-r>cell-r[span-s$="+17"],
 grid-r>cell-r[span-s$="-16"],
 grid-r>cell-r[span-s="17"] {
   --grid-columnEnd: 17
 }
 grid-r>cell-r[span-s$="+18"],
 grid-r>cell-r[span-s$="-17"],
 grid-r>cell-r[span-s="18"] {
   --grid-columnEnd: 18
 }
 grid-r>cell-r[span-s$="+19"],
 grid-r>cell-r[span-s$="-18"],
 grid-r>cell-r[span-s="19"] {
   --grid-columnEnd: 19
 }
 grid-r>cell-r[span-s$="+20"],
 grid-r>cell-r[span-s$="-19"],
 grid-r>cell-r[span-s="20"] {
   --grid-columnEnd: 20
 }
 grid-r>cell-r[span-s$="+21"],
 grid-r>cell-r[span-s$="-20"],
 grid-r>cell-r[span-s="21"] {
   --grid-columnEnd: 21
 }
 grid-r>cell-r[span-s$="+22"],
 grid-r>cell-r[span-s$="-21"],
 grid-r>cell-r[span-s="22"] {
   --grid-columnEnd: 22
 }
 grid-r>cell-r[span-s$="+23"],
 grid-r>cell-r[span-s$="-22"],
 grid-r>cell-r[span-s="23"] {
   --grid-columnEnd: 23
 }
 grid-r>cell-r[span-s$="+24"],
 grid-r>cell-r[span-s$="-23"],
 grid-r>cell-r[span-s="24"] {
   --grid-columnEnd: 24
 }
 grid-r>cell-r[span-s$="+25"],
 grid-r>cell-r[span-s$="-24"],
 grid-r>cell-r[span-s="25"] {
   --grid-columnEnd: 25
 }
 grid-r>cell-r[span-s$="+26"],
 grid-r>cell-r[span-s$="-25"],
 grid-r>cell-r[span-s="26"] {
   --grid-columnEnd: 26
 }
 grid-r>cell-r[span-s$="+27"],
 grid-r>cell-r[span-s$="-26"],
 grid-r>cell-r[span-s="27"] {
   --grid-columnEnd: 27
 }
 grid-r>cell-r[span-s$="+28"],
 grid-r>cell-r[span-s$="-27"],
 grid-r>cell-r[span-s="28"] {
   --grid-columnEnd: 28
 }
 grid-r>cell-r[span-s$="+29"],
 grid-r>cell-r[span-s$="-28"],
 grid-r>cell-r[span-s="29"] {
   --grid-columnEnd: 29
 }
 grid-r>cell-r[span-s$="+30"],
 grid-r>cell-r[span-s$="-29"],
 grid-r>cell-r[span-s="30"] {
   --grid-columnEnd: 30
 }
 grid-r>cell-r[span-s$="-30"] {
   --grid-columnEnd: 31
 }
 /* connect vars */
 grid-r>cell-r[span-s] {
   grid-column-end: span var(--grid-columnEnd)
 }
 grid-r>cell-r[span-s*="+"],
 grid-r>cell-r[span-s*="-"],
 grid-r>cell-r[span-s*=".."] {
   grid-column-start: var(--grid-columnStart)
 }
 grid-r>cell-r[span-s*="-"],
 grid-r>cell-r[span-s*=".."] {
   grid-column-end: var(--grid-columnEnd)
 }
 grid-r>cell-r[span-s="row"] {
   grid-column: 1 / -1
 }
}
/* for window width >= 1600 */
@media only screen and (min-width: 1599px) {
 grid-r[columns-l="1"] {
   --grid-templateColumns: repeat(1, 1fr)
 }
 grid-r[columns-l="2"] {
   --grid-templateColumns: repeat(2, 1fr)
 }
 grid-r[columns-l="3"] {
   --grid-templateColumns: repeat(3, 1fr)
 }
 grid-r[columns-l="4"] {
   --grid-templateColumns: repeat(4, 1fr)
 }
 grid-r[columns-l="5"] {
   --grid-templateColumns: repeat(5, 1fr)
 }
 grid-r[columns-l="6"] {
   --grid-templateColumns: repeat(6, 1fr)
 }
 grid-r[columns-l="7"] {
   --grid-templateColumns: repeat(7, 1fr)
 }
 grid-r[columns-l="8"] {
   --grid-templateColumns: repeat(8, 1fr)
 }
 grid-r[columns-l="9"] {
   --grid-templateColumns: repeat(9, 1fr)
 }
 grid-r[columns-l="10"] {
   --grid-templateColumns: repeat(10, 1fr)
 }
 grid-r[columns-l="11"] {
   --grid-templateColumns: repeat(11, 1fr)
 }
 grid-r[columns-l="12"] {
   --grid-templateColumns: repeat(12, 1fr)
 }
 grid-r[columns-l="13"] {
   --grid-templateColumns: repeat(13, 1fr)
 }
 grid-r[columns-l="14"] {
   --grid-templateColumns: repeat(14, 1fr)
 }
 grid-r[columns-l="15"] {
   --grid-templateColumns: repeat(15, 1fr)
 }
 grid-r[columns-l="16"] {
   --grid-templateColumns: repeat(16, 1fr)
 }
 grid-r[columns-l="17"] {
   --grid-templateColumns: repeat(17, 1fr)
 }
 grid-r[columns-l="18"] {
   --grid-templateColumns: repeat(18, 1fr)
 }
 grid-r[columns-l="19"] {
   --grid-templateColumns: repeat(19, 1fr)
 }
 grid-r[columns-l="20"] {
   --grid-templateColumns: repeat(20, 1fr)
 }
 grid-r[columns-l="21"] {
   --grid-templateColumns: repeat(21, 1fr)
 }
 grid-r[columns-l="22"] {
   --grid-templateColumns: repeat(22, 1fr)
 }
 grid-r[columns-l="23"] {
   --grid-templateColumns: repeat(23, 1fr)
 }
 grid-r[columns-l="24"] {
   --grid-templateColumns: repeat(24, 1fr)
 }
 grid-r[columns-l="25"] {
   --grid-templateColumns: repeat(25, 1fr)
 }
 grid-r[columns-l="26"] {
   --grid-templateColumns: repeat(26, 1fr)
 }
 grid-r[columns-l="27"] {
   --grid-templateColumns: repeat(27, 1fr)
 }
 grid-r[columns-l="28"] {
   --grid-templateColumns: repeat(28, 1fr)
 }
 grid-r[columns-l="29"] {
   --grid-templateColumns: repeat(29, 1fr)
 }
 grid-r[columns-l="30"] {
   --grid-templateColumns: repeat(30, 1fr)
 }
 /* span-l=start... */
 grid-r>cell-r[span-l^="1"] {
   --grid-columnStart: 1
 }
 grid-r>cell-r[span-l^="2"] {
   --grid-columnStart: 2
 }
 grid-r>cell-r[span-l^="3"] {
   --grid-columnStart: 3
 }
 grid-r>cell-r[span-l^="4"] {
   --grid-columnStart: 4
 }
 grid-r>cell-r[span-l^="5"] {
   --grid-columnStart: 5
 }
 grid-r>cell-r[span-l^="6"] {
   --grid-columnStart: 6
 }
 grid-r>cell-r[span-l^="7"] {
   --grid-columnStart: 7
 }
 grid-r>cell-r[span-l^="8"] {
   --grid-columnStart: 8
 }
 grid-r>cell-r[span-l^="9"] {
   --grid-columnStart: 9
 }
 grid-r>cell-r[span-l^="10"] {
   --grid-columnStart: 10
 }
 grid-r>cell-r[span-l^="11"] {
   --grid-columnStart: 11
 }
 grid-r>cell-r[span-l^="12"] {
   --grid-columnStart: 12
 }
 grid-r>cell-r[span-l^="13"] {
   --grid-columnStart: 13
 }
 grid-r>cell-r[span-l^="14"] {
   --grid-columnStart: 14
 }
 grid-r>cell-r[span-l^="15"] {
   --grid-columnStart: 15
 }
 grid-r>cell-r[span-l^="16"] {
   --grid-columnStart: 16
 }
 grid-r>cell-r[span-l^="17"] {
   --grid-columnStart: 17
 }
 grid-r>cell-r[span-l^="18"] {
   --grid-columnStart: 18
 }
 grid-r>cell-r[span-l^="19"] {
   --grid-columnStart: 19
 }
 grid-r>cell-r[span-l^="20"] {
   --grid-columnStart: 20
 }
 grid-r>cell-r[span-l^="21"] {
   --grid-columnStart: 21
 }
 grid-r>cell-r[span-l^="22"] {
   --grid-columnStart: 22
 }
 grid-r>cell-r[span-l^="23"] {
   --grid-columnStart: 23
 }
 grid-r>cell-r[span-l^="24"] {
   --grid-columnStart: 24
 }
 grid-r>cell-r[span-l^="25"] {
   --grid-columnStart: 25
 }
 grid-r>cell-r[span-l^="26"] {
   --grid-columnStart: 26
 }
 grid-r>cell-r[span-l^="27"] {
   --grid-columnStart: 27
 }
 grid-r>cell-r[span-l^="28"] {
   --grid-columnStart: 28
 }
 grid-r>cell-r[span-l^="29"] {
   --grid-columnStart: 29
 }
 grid-r>cell-r[span-l^="30"] {
   --grid-columnStart: 30
 }
 /* span-l=...+width, span-l=...-end */
 grid-r>cell-r[span-l$="+1"],
 grid-r>cell-r[span-l="1"] {
   --grid-columnEnd: 1
 }
 grid-r>cell-r[span-l$="+2"],
 grid-r>cell-r[span-l$="-1"],
 grid-r>cell-r[span-l="2"] {
   --grid-columnEnd: 2
 }
 grid-r>cell-r[span-l$="+3"],
 grid-r>cell-r[span-l$="-2"],
 grid-r>cell-r[span-l="3"] {
   --grid-columnEnd: 3
 }
 grid-r>cell-r[span-l$="+4"],
 grid-r>cell-r[span-l$="-3"],
 grid-r>cell-r[span-l="4"] {
   --grid-columnEnd: 4
 }
 grid-r>cell-r[span-l$="+5"],
 grid-r>cell-r[span-l$="-4"],
 grid-r>cell-r[span-l="5"] {
   --grid-columnEnd: 5
 }
 grid-r>cell-r[span-l$="+6"],
 grid-r>cell-r[span-l$="-5"],
 grid-r>cell-r[span-l="6"] {
   --grid-columnEnd: 6
 }
 grid-r>cell-r[span-l$="+7"],
 grid-r>cell-r[span-l$="-6"],
 grid-r>cell-r[span-l="7"] {
   --grid-columnEnd: 7
 }
 grid-r>cell-r[span-l$="+8"],
 grid-r>cell-r[span-l$="-7"],
 grid-r>cell-r[span-l="8"] {
   --grid-columnEnd: 8
 }
 grid-r>cell-r[span-l$="+9"],
 grid-r>cell-r[span-l$="-8"],
 grid-r>cell-r[span-l="9"] {
   --grid-columnEnd: 9
 }
 grid-r>cell-r[span-l$="+10"],
 grid-r>cell-r[span-l$="-9"],
 grid-r>cell-r[span-l="10"] {
   --grid-columnEnd: 10
 }
 grid-r>cell-r[span-l$="+11"],
 grid-r>cell-r[span-l$="-10"],
 grid-r>cell-r[span-l="11"] {
   --grid-columnEnd: 11
 }
 grid-r>cell-r[span-l$="+12"],
 grid-r>cell-r[span-l$="-11"],
 grid-r>cell-r[span-l="12"] {
   --grid-columnEnd: 12
 }
 grid-r>cell-r[span-l$="+13"],
 grid-r>cell-r[span-l$="-12"],
 grid-r>cell-r[span-l="13"] {
   --grid-columnEnd: 13
 }
 grid-r>cell-r[span-l$="+14"],
 grid-r>cell-r[span-l$="-13"],
 grid-r>cell-r[span-l="14"] {
   --grid-columnEnd: 14
 }
 grid-r>cell-r[span-l$="+15"],
 grid-r>cell-r[span-l$="-14"],
 grid-r>cell-r[span-l="15"] {
   --grid-columnEnd: 15
 }
 grid-r>cell-r[span-l$="+16"],
 grid-r>cell-r[span-l$="-15"],
 grid-r>cell-r[span-l="16"] {
   --grid-columnEnd: 16
 }
 grid-r>cell-r[span-l$="+17"],
 grid-r>cell-r[span-l$="-16"],
 grid-r>cell-r[span-l="17"] {
   --grid-columnEnd: 17
 }
 grid-r>cell-r[span-l$="+18"],
 grid-r>cell-r[span-l$="-17"],
 grid-r>cell-r[span-l="18"] {
   --grid-columnEnd: 18
 }
 grid-r>cell-r[span-l$="+19"],
 grid-r>cell-r[span-l$="-18"],
 grid-r>cell-r[span-l="19"] {
   --grid-columnEnd: 19
 }
 grid-r>cell-r[span-l$="+20"],
 grid-r>cell-r[span-l$="-19"],
 grid-r>cell-r[span-l="20"] {
   --grid-columnEnd: 20
 }
 grid-r>cell-r[span-l$="+21"],
 grid-r>cell-r[span-l$="-20"],
 grid-r>cell-r[span-l="21"] {
   --grid-columnEnd: 21
 }
 grid-r>cell-r[span-l$="+22"],
 grid-r>cell-r[span-l$="-21"],
 grid-r>cell-r[span-l="22"] {
   --grid-columnEnd: 22
 }
 grid-r>cell-r[span-l$="+23"],
 grid-r>cell-r[span-l$="-22"],
 grid-r>cell-r[span-l="23"] {
   --grid-columnEnd: 23
 }
 grid-r>cell-r[span-l$="+24"],
 grid-r>cell-r[span-l$="-23"],
 grid-r>cell-r[span-l="24"] {
   --grid-columnEnd: 24
 }
 grid-r>cell-r[span-l$="+25"],
 grid-r>cell-r[span-l$="-24"],
 grid-r>cell-r[span-l="25"] {
   --grid-columnEnd: 25
 }
 grid-r>cell-r[span-l$="+26"],
 grid-r>cell-r[span-l$="-25"],
 grid-r>cell-r[span-l="26"] {
   --grid-columnEnd: 26
 }
 grid-r>cell-r[span-l$="+27"],
 grid-r>cell-r[span-l$="-26"],
 grid-r>cell-r[span-l="27"] {
   --grid-columnEnd: 27
 }
 grid-r>cell-r[span-l$="+28"],
 grid-r>cell-r[span-l$="-27"],
 grid-r>cell-r[span-l="28"] {
   --grid-columnEnd: 28
 }
 grid-r>cell-r[span-l$="+29"],
 grid-r>cell-r[span-l$="-28"],
 grid-r>cell-r[span-l="29"] {
   --grid-columnEnd: 29
 }
 grid-r>cell-r[span-l$="+30"],
 grid-r>cell-r[span-l$="-29"],
 grid-r>cell-r[span-l="30"] {
   --grid-columnEnd: 30
 }
 grid-r>cell-r[span-l$="-30"] {
   --grid-columnEnd: 31
 }
 /* connect vars */
 grid-r>cell-r[span-l] {
   grid-column-end: span var(--grid-columnEnd)
 }
 grid-r>cell-r[span-l*="+"],
 grid-r>cell-r[span-l*="-"],
 grid-r>cell-r[span-l*=".."] {
   grid-column-start: var(--grid-columnStart)
 }
 grid-r>cell-r[span-l*="-"],
 grid-r>cell-r[span-l*=".."] {
   grid-column-end: var(--grid-columnEnd)
 }
 grid-r>cell-r[span-l="row"] {
   grid-column: 1 / -1
 }
}


/* .note {
  max-width: 35rem;
  margin: 0 auto;
}
.note-header {
  text-align: center;
}
.note-date {
  margin-bottom: .5rem;
  display: block;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 3rem 0;
}
.gallery figure a {
  border: 0;
}
.gallery figure {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 45rem) {
  .gallery {
    margin-left: -3rem;
    margin-right: -3rem;
  }
} */
