/* Filter */
button {
  background: 0 0;
  border: 0;
  outline: 0;
  color: var(--foreground-color);
}
main {
  min-height: calc(100vh - 249px);
}
#index {
   padding: 70px 0 0; 
  position: relative;
}
#index:before {
  /* content: '';
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  background-color: #000;
  top: 109px; */
}
#index.active-filters .categories ul {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
  transition: opacity 0.2s 0s, visibility 0s 0s;
}
#index.active-filters .categories li {
  opacity: 1;
}
#index.active-filters .categories li:nth-child(2) {
  -webkit-transition: opacity 0.2s 0.05s;
  transition: opacity 0.2s 0.05s;
}
#index.active-filters .categories li:nth-child(3) {
  -webkit-transition: opacity 0.2s 0.1s;
  transition: opacity 0.2s 0.1s;
}
#index.active-filters .categories li:nth-child(4) {
  -webkit-transition: opacity 0.2s 0.15s;
  transition: opacity 0.2s 0.15s;
}
#index.active-filters .categories li:nth-child(5) {
  -webkit-transition: opacity 0.2s 0.2s;
  transition: opacity 0.2s 0.2s;
}
#index.active-filters .categories li:nth-child(6) {
  -webkit-transition: opacity 0.2s 0.25s;
  transition: opacity 0.2s 0.25s;
}
#index.active-filters .categories li:nth-child(7) {
  -webkit-transition: opacity 0.2s 0.3s;
  transition: opacity 0.2s 0.3s;
}
#index.active-filters .categories li:nth-child(8) {
  -webkit-transition: opacity 0.2s 0.35s;
  transition: opacity 0.2s 0.35s;
}
#index.active-filters .categories li:nth-child(9) {
  -webkit-transition: opacity 0.2s 0.4s;
  transition: opacity 0.2s 0.4s;
}
#index.active-filters .categories li:nth-child(10) {
  -webkit-transition: opacity 0.2s 0.45s;
  transition: opacity 0.2s 0.45s;
}
#index.active-filters .categories .categories-title svg rect.vertical {
  display: none;
}


#index .categories-title svg {
   width: 11px; 
   height: 11px;

}
/* Filter */

.p-left {
  padding-left: 0.3rem ;
}

.categories {
  width: 100%;
  border-bottom: 1px solid var(--foreground-color);
  display: flex;
  align-content: center;
}
.categories:after,
.categories:before {
  content: "";
  display: table;
}
.categories:after {
  clear: both;
}

circle {
  fill: var(--foreground-color);
}

rect {
  fill: var(--background-color);
}

.categories ul {
  opacity: 0;
  visibility: hidden;
  font-size: 11px;
  display: inline-block;
  white-space: nowrap;
  position: relative;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
.categories li {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  opacity: 0;
}
.categories li.active .category-button {
  background-color: var(--foreground-color);
  color: var(--background-color);
  border-color: var(--foreground-color);
}
.categories .category-button {
  border: 1px solid var(--foreground-color);
  border-radius: 99em;
  /* padding: 0 10px; */
  line-height: 16px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.categories-title {
  padding-left: 0;
  display: flex;
  align-items: center;
  margin-bottom: var(--baseline);
  position: relative;
}
.categories-title span,
.categories-title svg {
  display: inline-block;
}
/* Legend */
.post-legend {
  z-index: 10;
  top: 5em;
  display: grid;
  grid-column-gap: var(--columnGap);
  grid-row-gap: var(--rowGap);
  grid-template-columns: 10fr 3fr 3fr 2fr 0.5fr;
  border-bottom: 1px solid var(--foreground-color);
  align-items: baseline;
  background: --background-color;
  margin-bottom: var(--blockSpacingBottom);
}
.post-legend p {
  margin-bottom: 0.5em;
}
.post.hide {
  display: none;
}
.post.toggle {
  -webkit-transition: height 0.5s ease-in;
  transition: height 0.5s ease-in;
}
.post.toggle .post-header .post-thumbnail {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
.post-toggled .post-header .post-thumbnail {
  visibility: hidden !important;
  opacity: 0 !important;
}
.post-header {
  display: grid;
  grid-column-gap: var(--columnGap);
  grid-row-gap: var(--rowGap);
  border-bottom: 1px solid var(--foreground-color);
  grid-template-columns: 10fr 3fr 3fr 2fr 0.5fr;
  align-items: baseline;
  cursor: pointer;
}
.post-header p h4 {
  display: grid;
  /* grid-template-columns: min-content 1fr; */
  align-items: center;
  white-space: nowrap;
  justify-items: flex-end;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.post-title {
  white-space: nowrap;
}
.post-meta {
  font-size: 13px;
}

.st0plus {
  fill: none;
  stroke: var(--foreground-color);
  stroke-linecap: round;
  stroke-width: 2px;
}

.post-content {
  display: grid;
  grid-template-columns: 10fr 3fr 3fr 2fr 0.5fr;
  grid-column-gap: var(--columnGap);
  grid-row-gap: var(--rowGap);
  padding-top: calc(var(--lineHeight) * 1);
  padding-bottom: calc(var(--lineHeight) * 1);
  border-bottom: 1px solid var(--foreground-color);
}

.post-header svg {
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.post-header svg.open {
  transform: rotate(45deg);
}
#collection-information {
  display: none;
  line-height: 1.3;
  margin-bottom: calc(var(--baseline) * 3);
}

.remove-line {
  border-bottom: transparent;
}
.post-gallery,
.video-wrapper,
.slider-wrapper {
  grid-area: 1 / 2 / 3 / 6;
}
.post-info {
  grid-area:  1 / 1 / 2 / 2;
  max-width: calc(100% - 5em);
}
.jslghtbx-contentwrapper {
  margin: auto;
  visibility: hidden;
}
.jslghtbx-contentwrapper > img {
  display: none;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}
.jslghtbx-close {
  position: fixed;
}
/* ----------- */

.post-gallery img,
.post-gallery video {
  display: block;
  width: 100%
}
.post-gallery video[poster] {
  -o-object-fit: cover;
  object-fit: cover
}
.slider-wrapper,
.video-wrapper {
  width: 100%;
}
.video-wrapper {
  margin-bottom: 40px;
}
.slider-wrapper {
  position: relative;
}
.slider {
  position: relative;
  text-align: center
}
.slider img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: opacity .5s;
  transition: opacity .5s
}
.slider img.active {
  position: relative;
  z-index: 2;
  opacity: 1
}
.slider-controls {
  padding-top: calc(var(--lineHeight) * 0.7);
  display: flex;
  justify-content: space-between;
  height: auto;
  height: 20px;
}
.slider-control {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-size: 21px 11px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -999px;
}


.arrow-right,
.arrow-left {
  stroke: var(--foreground-color);
  stroke-width: 0.3px; 
  fill: none; 
  stroke-linecap: round; 
  stroke-linejoin: round;
}

.arrow-left {
  transform: rotate(180);
  transform-origin: 50% 50%;
}
.current-indicator {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 3;
  display: -webkit-box;
  display: flex
}
.current-indicator li {
  display: block;
  width: 20px;
  height: 1px;
  margin: 2.5px;
  overflow: hidden;
  text-indent: -9999px;
  opacity: .7;
  background-color: var(--foreground-color);
}
.current-indicator li.active {
  opacity: 1;
  background-color: #8b59e7;
}
.close-post {
  position: absolute;
  left: 40px;
  bottom: 27px;
  padding: 10px 0
}
.close-post:after {
  content: '';
  margin-left: 4px;
  display: inline-block;
  width: 11px;
  height: 11px;
  background: url("/images/icons/close.svg") center no-repeat;
  background-size: contain
}


.post-video {
  position: relative;
  /* display: inline-block; */
  margin-bottom: 1.3333em;
}
.post-video video {
  display: block
}
.post-video[data-state=not-init] .vid-controls {
  visibility: hidden;
  opacity: 0
}
.post-video[data-state=initialized] .intro-play {
  opacity: 0;
  visibility: hidden;
  -webkit-filter: blur(2vw);
  filter: blur(2vw);
  -webkit-transition: opacity .5s, visibility 0s .5s, -webkit-filter .5s;
  transition: opacity .5s, visibility 0s .5s, -webkit-filter .5s;
  transition: filter .5s, opacity .5s, visibility 0s .5s;
  transition: filter .5s, opacity .5s, visibility 0s .5s, -webkit-filter .5s
}
.post-video[data-controls=false] .vid-controls {
  display: none
}
.post-video[data-fullscreen=cancel-fullscreen] video {
  display: block;
  width: 100%;
  height: 100%
}
.post-video.default-video .vid-controls {
  display: none
}
.post-video:hover .vid-controls {
  opacity: 1
}
.touch-device .vid-controls {
  display: none !important
}
.toggle .intro-play {
  opacity: 1;
  -webkit-transition: opacity 0s;
  transition: opacity 0s
}
.intro-play {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0s .75s;
  transition: opacity 0s .75s
}
.intro-play span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  width: 76px;
  line-height: 76px;
  border-radius: 50%;
  color: #fff;
  background-color: #8b59e7;
  font-size: 16px;
}
.vid-controls {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s
}
.vid-icon {
  position: absolute;
  bottom: 2px;
  padding: 10px 0;
  color: #8b59e7;
  font-size: 16px;
  background-repeat: no-repeat;
  background-position: center center
}
.vid-playpause {
  left: 20px
}
.vid-mute {
  right: 48px
}
.vid-mute:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  top: calc(50% - 0px);
  background-color: #8b59e7
}
.vid-mute[data-state=unmute]:after {
  display: none
}
.vid-fullscreen {
  background-image: url("/images/icons/fullscreen.svg");
  right: 21px;
  bottom: 16px;
  display: block;
  width: 13px;
  height: 13px;
  text-indent: -999px;
  overflow: hidden
}
[data-fullscreen=cancel-fullscreen] .vid-fullscreen {
  background-image: url("/images/icons/minimize.svg")
}
[data-fullscreen=go-fullscreen] .vid-fullscreen {
  background-image: url("/images/icons/fullscreen.svg")
}
.vid-progress-wrap {
  height: 20px;
  width: calc(100% - 40px);
  position: absolute;
  left: 20px;
  bottom: 35px;
  overflow: hidden
}
.vid-progress-bar {
  width: 0%;
  float: left;
  height: 3px;
  background-color: #8b59e7;
  margin-top: 8px;
  position: relative
}
.vid-progress-bar:after {
  content: '';
  display: block;
  height: 3px;
  width: 100vw;
  position: absolute;
  right: -100vw;
  top: 0;
  background-color: rgba(255, 255, 255, .25)
}
.jslghtbx {
  overflow: auto;
  visibility: hidden;
  position: fixed;
  z-index: 12;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}
.jslghtbx.jslghtbx-active {
  visibility: visible;
  background-color: var(--background-color);
}

.jslghtbx-loading-animation {
  margin-top: -60px;
  margin-left: -60px;
  width: 120px;
  height: 120px;
  top: 50%;
  left: 50%;
  display: none;
  position: absolute;
  z-index: -1
}
.jslghtbx-loading-animation>span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin: 5px;
  background-color: #fff;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out
}
.jslghtbx-loading-animation>span.jslghtbx-active {
  margin-bottom: 60px
}
.jslghtbx-nooverflow {
  overflow: hidden !important
}
.jslghtbx-contentwrapper {
  margin: auto;
  visibility: hidden
}
.jslghtbx-contentwrapper>img {
  display: none;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}
.jslghtbx-contentwrapper.jslghtbx-wrapper-active {
  visibility: visible;
}
.jslghtbx-contentwrapper.jslghtbx-wrapper-active>img {
  display: block;
  opacity: 1
}
.jslghtbx-active .jslghtbx-caption {
  display: block;
  position: fixed;
  top: 26px;
  left: 40px;
  font-size: 20px;
  z-index: 13
}
.jslghtbx-contentwrapper.jslghtbx-animate>img {
  opacity: 0
}
.jslghtbx-contentwrapper>img.jslghtbx-animate-transition {
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out
}
.jslghtbx-contentwrapper>img.jslghtbx-animating-next {
  opacity: 1;
}
.jslghtbx-contentwrapper>img.jslghtbx-animating-prev {
  opacity: 1;
}
.jslghtbx-contentwrapper>img.jslghtbx-animate-init {
  opacity: 1;
}
.jslghtbx-contentwrapper>img.jslghtbx-animate-transition {
  cursor: url("/images/dot-hover.svg"), auto;
}
.jslghtbx-close {
  position: fixed;
  top: 16px;
  right: 30px;
  background: url("/images/icons/close.svg") calc(100% - 10px) center no-repeat;
  background-size: 25px 25px;
  padding: 10px 30px 10px 10px;
  cursor: url("/images/dot-hover.svg"), auto;
}
.jslghtbx-next,
.jslghtbx-prev {
  display: none;
  position: fixed;
  top: calc(50% - 30px) !important;
  width: 101px;
  height: 60px;
  cursor: url("/images/dot-hover.svg"), auto;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out
}
.jslghtbx-next.jslghtbx-active,
.jslghtbx-prev.jslghtbx-active {
  display: block
}
.jslghtbx-next {
  right: 0;
  background: url("/images/icons/arrow-slider-r.svg") center no-repeat
}
.jslghtbx-prev {
  left: 0;
  background: url("/images/icons/arrow-slider-l.svg") center no-repeat
}