<?php snippet('header') ?>
<div id="preload-homepage">
  <span class="medium">(Click to Enter)</span>
</div>
</div>
<main>
  <article class="pageContent">
    <div class="bg">
      <div id="coords" data-html2canvas-ignore="true">(0,0)</div>
      <svg id="bauhausShapes"></svg>
      <img id="img" />
      <a href="#" class="type-lg" id="save" target="_blank">HIT "S" TO SAVE</a>
    </div>
    <section class="homeSvg">
      <svg id="homeSVG" viewBox="0 0 1250 640" fill="none" stroke="var(--foreground-color)" stroke-width="1px"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M.47,472V179.61H638.31V80.83h-86V.47h697.18V527.11H1109.09V477H756.33V639.53H238.61V558.72h29.92V472Z" />
      </svg>
    </section>
    <section class="credentialsName">
      <h1 class="displayText">
        Florian Nagel
        <br />
        Graphic Design
      </h1>
    </section>
    <section class="credentialsTime">
      <h1 class="displayText">
        2017-
        <br />
        2020
      </h1>
    </section>
    <section class="credentialsDate">
      <h1 class="displayText">
        Archiv+
        <br />
        Visual Diary
      </h1>
    </section>
    <section class="controlsPage">
      <span class="blur-slider">Blur:
        <span id="output"></span>
        <label class="slide">
          <input class="svg-blur" type="range" min="0" max="220" value="30" step="1" id="blur" />
        </label>
      </span>
      <span class="spacing-slider">Spacing:
        <span id="output-spacing"></span>
        <label class="slide">
          <input type="range" id="spacing" min="0" max="200" value="0" />
        </label>
      </span>
      <span class="rotation-slider">Rotation:
        <span id="output-rotation"></span>
        <label class="slide">
          <input type="range" id="rotation" min="0" max="360" value="0" />
        </label>
      </span>
      <a id="b1" onclick="changeColor()">Background</a>
      <a id="b2" onclick="removeChild()">Remove Shape</a>
      <a>Save PNG</a>
    </section>
  </article>
</main>
<script>
  var btn2 = document.querySelector("#b2");
  function removeChild() {
    var list = document.getElementById("bauhausShapes"), item = list.lastElementChild;
    list.removeChild(item);
  }
  btn2.onclick = function () { removeChild() };
  var homeSVG = document.querySelector("#homeSVG");
  var btn = document.querySelector("#b1");
  function changeColor() {
    let newArray = ["rgb(255, 214, 0)", "rgb(36, 0, 255)", "rgb(255, 77, 0)", "rgb(36, 31, 33)", "rgb(238, 222, 203)", "rgb(244, 244, 240)", "rgb(219, 223, 226)"];
    let random = Math.floor(Math.random() * Math.floor(newArray.length - 1));
    homeSVG.classList.add("home-svg-blur");
    if (homeSVG.style.fill != newArray[random]) {
      homeSVG.style.fill = newArray[random];
      console.log(homeSVG.style.fill);
    } else {
      changeColor();
    }
  }
  btn.onclick = function () { changeColor() };
  var sliderRotation = document.getElementById('rotation');
  var outputRotation = document.getElementById('output-rotation');
  var sliderSpacing = document.getElementById('spacing');
  var outputSpacing = document.getElementById('output-spacing');
  var slider = document.getElementById('blur');
  var output = document.getElementById('output');
  sliderSpacing.oninput = function () {
    outputSpacing.innerHTML = this.value;
  };
  sliderRotation.oninput = function () {
    outputRotation.innerHTML = this.value;
  };
  slider.oninput = function () {
    output.innerHTML = this.value;
  };
  outputRotation.innerHTML = sliderRotation.value;
  outputSpacing.innerHTML = sliderSpacing.value;
  output.innerHTML = slider.value;
  const inputs = [].slice.call(
    document.querySelectorAll('input#blur,input#spacing')
  );
  const inputRotation = document.querySelectorAll('#rotation');
  inputRotation.forEach(input => input.addEventListener('change', handleUpdateRotation));
  inputRotation.forEach(input => input.addEventListener('mousemove', handleUpdateRotation));
  inputs.forEach(input => input.addEventListener('change', handleUpdate));
  inputs.forEach(input => input.addEventListener('mousemove', handleUpdate));
  function handleUpdate(e) {
    const suffix = this.id === 'base' ? '' : 'px';
    document
      .getElementById('bauhausShapes')
      .style.setProperty(`--${this.id}`, this.value + suffix);
  };
  function handleUpdateRotation(e) {
    const suffixDeg = this.id === 'base' ? '' : 'deg';
    document
      .getElementById('bauhausShapes')
      .style.setProperty(`--${this.id}`, this.value + suffixDeg);
  };
  $('#preload-homepage').click(function () {
    $(this)
      .fadeOut('300')
      .remove();
  });
  //loader
  setTimeout(function () {
    $('#loader').fadeOut();
  }, 1000);
  setTimeout(function () {
    $('#loader').remove();
  }, 2000);
  //Remove Splash on devices
  if (/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)) {
    /*GENERAL*/
    $('#splash').remove();
    $('#container').removeClass('blur');
  }
  // //Sun
  // $("#sun").click(function() {
  // 	$('body').toggleClass("sun-active");
  // });
  // //Open Mobile Menu
  // $( "#burger" ).click(function() {
  //   $(this).toggleClass('open');
  //   $('#menu-mobile').slideToggle('fast');
  // });
</script>
<?= js('assets/js/loader.js') ?>
<!-- <script src="assets/js/demo1.js"></script> -->
<script src="assets/js/html2canvas.js"></script>
<script src="assets/js/scripts.js"></script>
<?php snippet('footer') ?>